.ui-sortable {
  display: block;
  position: relative;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.ui-sortable:before,
.ui-sortable:after{
  content: " ";
  display: table;
}

.ui-sortable:after{
  clear: both;
}

.ui-sortable .ui-sortable-item {
  float: left;
  cursor: move;
}

.ui-sortable .ui-sortable-item.ui-sortable-dragging {
  position: absolute;
  z-index: 1688;
}

.ui-sortable .ui-sortable-placeholder {
  display: none;
}

.ui-sortable .ui-sortable-placeholder.visible {
  display: block;
  z-index: -1;
}

/* custom style */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  position: relative;
  margin: 0;
}

.ui-sortable .ui-sortable-placeholder.visible {
  opacity: .4;
  -ms-filter: opacity(alpha=40);
  border: 1px #ccc dashed;
}

.ui-sortable.style-for-test {
  display: inline-block;
}

.ui-sortable.full-width .ui-sortable-item{
  width: 100%;
}

.section {
  border-bottom: 2px #999 dashed;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.item-1{
  width: 50px;
  height: 50px;
  background-color: rgb(23, 12, 123);
  color: #fff;
  margin-right: 20px;
}

.item-2{
  width: 50px;
  height: 50px;
  background-color: rgb(233, 233, 12);
  color: #fff;
  margin-right: 20px;
}

.item-3{
  width: 50px;
  height: 50px;
  background-color: rgb(23, 255, 12);
  color: #fff;
  margin-right: 20px;
}


.img-item {
  margin-right: 20px;
  max-width: 150px;
  height: auto;
}

.action-item {
  width: 100px;
  height: 40px;
  background: #000;
  color: #fff;
  text-align: center;
  margin-right: 20px;
}

.action-item span {
  line-height: 40px;
  vertical-align: middle;
}

.action-item .close {
  float: right;
  width: 30px;
  background: #f00;
  cursor: pointer;
}

.dynamic-demo button{
  margin: 10px 0 5px;
  display: block;
}

.dynamic-item {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border: 1px #ddd solid;
  margin-right: 10px;
}

.dynamic-item .delete {
  margin-left: 20px;
  font-family: monospace;
  cursor: pointer;
}

.dynamic-item .delete:hover {
  color: red;
}

.containment-demo {
  border: 1px #999 dotted;
  padding: 20px;
  margin: 20px;
  overflow: hidden;
}
