button {
  &.button-primary {
    background-color: $color-orange;
    border: none;
    color: white;

    &:hover {
      background-color: lighten($color-orange, 10%) !important;
      color: white;
    }

    &:focus {
      background-color: lighten($color-orange, 20%) !important;
      color: white;
    }

    &.btn-default[disabled]:hover {
      background-color: $color-orange;
    }

  }


  &.button-success {
    background-color: $color-green;
    border: none;
    color: white;

    &:hover {
      background-color: lighten($color-green, 10%) !important;
      color: white;
    }

    &:focus {
      background-color: lighten($color-green, 20%) !important;
      color: white;
    }

    &.btn-default[disabled]:hover {
      background-color: $color-green;
    }

  }

  &.button-dangerous {
    background-color: $color-red;
    border: none;
    color: white;

    &:hover {
      background-color: lighten($color-red, 10%) !important;
      color: white;
    }

    &:focus {
      background-color: lighten($color-red, 20%) !important;
      color: white;
    }

    &.btn-default[disabled]:hover {
      background-color: $color-red;
    }

  }

  &.full-width {
    width: 100%;
  }

}
