/*----------------------------------*\
    Font
\*----------------------------------*/
/*
	Font Face Mixin
*/
@mixin fontFace($family, $src, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url('../fonts/' + $src + '.eot');
    src: url('../fonts/' + $src + '.eot?#iefix') format('embedded-opentype'),
    url('../fonts/' + $src + '.woff') format('woff'),
    url('../fonts/' + $src + '.ttf') format('truetype'),
    url('../fonts/' + $src + '.otf') format('opentype'),
    url('../fonts/' + $src + '.svg#UbuntuItalic') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}
