/*----------------------------------*\
    Heading
\*----------------------------------*/
h1, h2 ,h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 12px;
	font-size: inherit;
	line-height: 1;
	font-weight: $normal;
}

h1, .h1 {
	font-size: 50px;
}

h2, .h2 {
	font-size: 40px;
}

h3, .h3 {
	font-size: 30px;
}

h4, .h4 {
	font-size: 28px;
}

h5, .h5 {
	font-size: 26px;
}

h6, .h6 {
	font-size: 20px
}