/*----------------------------------*\
    Text
\*----------------------------------*/
/*
	Align
*/
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/*
	Decoration
*/
.text-decoration-none {
	text-decoration: none;
}

a.text-decoration-none {
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: none;
	}
}

/*
	Transform
*/
.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

/*
	Variant
*/
.text-small-caps {
	font-variant: small-caps;
}

h5.text-small-caps{
	font-size: 25px;
}

.text-italic{
  font-style: italic;
}

/*
	Weight
*/
.text-thin {
	font-weight: $thin;
}

.text-light {
	font-weight: $light;
}

.text-book {
	font-weight: $book;
}

.text-regular {
	font-weight: $normal;
}

.text-medium {
	font-weight: $medium;
}

.text-semi-bold {
	font-weight: $semi-bold;
}

.text-bold {
	font-weight: $bold;
}

.text-black {
	font-weight: $black;
}

/*
	Font Size
*/
.text-big {
	font-size: 110px;

	@media #{$small-and-down} {
		font-size: 75px;
	}

	@media #{$extra-small-and-down} {
		font-size: 55px;
	}
}

/*
 	Text sizes
*/
.text-size-xxs {
	font-size: $font-xxs !important;
}

.text-size-xs {
	font-size: $font-xs !important;
}

.text-size-sm {
	font-size: $font-sm !important;
}

.text-size-smd {
  font-size: $font-smd !important;
}

.text-size-md {
	font-size: $font-md !important;
}

.text-size-lg {
	font-size: $font-lg !important;
}

.text-size-mlg {
  font-size: $font-mlg !important;
}

.text-size-xlg {
	font-size: $font-xlg !important;
}

/*
  Line height
*/


.text-link {
  cursor: pointer;
  color: orange;
  border-bottom: 1px solid;

  &:hover {
    color: darken(orange, 20%);
  }
}

.ellipsised {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}