.home {
  .books {
    margin: 0 auto;
    max-width: 500px;

    .book-image-container {
      margin-right: 15px;
      margin-left: 15px;

      .book-image {
        max-width: 100px;
      }
    }
  }

  .search-form {
    input{
      width: 300px;
      height: 40px;
    }
    .icon-search {
      background: url("/images/icon_search.png") no-repeat center;
      background-size: contain;
      width: 24px;
      height: 24px;
      position: relative;
      top: -32px;
      display: block;
      left: 267px;
    }
  }

  .video-card {
    height: 290px;
  }


  button.clear-book {
    width: 100px;
    float: none !important;
    outline: none;
  }
  .video-image-container {
    cursor: pointer;
    width: 350px;
    height: 200px;

    .video-image {
      max-width: 350px;
      max-height: 200px;
    }

    .video-image-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 70px;
      width: 80px;
      margin-left: -46px;
      margin-top: -79px;
      font-size: 30px;
      border-radius: 10px;
      padding: 20px;
      background-color: rgba(0,0,0,0.7);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

      &:before {
        color: white;
        content: '\E800';
        font-family: "video-fontello";
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        margin-left: .2em;
      }

    }
  }

}
