.landing {

  .video-search {
    width: 360px;
  }

  .main {
    position: relative;
    padding: 200px 0 300px;
    width: 100%;
    background-image: url('/images/landing-cover.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: center;

    h1 {
      color: white;
      font-weight: $bold;
    }

    h5 {
      color: white;
    }

    .learn-more-container {
      color: white;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }

  .improvement {

    .line {
      border-bottom: 1px solid $color-orange;
      width: 80px;

      &.small {
        width: 40px;
      }
    }

  }

  .cover-image {
    min-height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
  }

  .student-with-ipad {
    background: url('/images/student.jpg') no-repeat center center fixed;
  }

  .hands {
    background: url('/images/hands.jpg') no-repeat center center fixed;
  }

  .platform {
    background: url('/images/platform.jpg') no-repeat center center fixed;
  }

  .videos {
    .images-container {
      img {
        height: 140px;
        width: auto;
      }
    }

    .iphone {
      height: 350px;
      width: auto;
      position: absolute;
      bottom: 0;
      right: 10%;
    }
  }

  .on-demand-chat {

    background-color: darken($color-gray-lightest, 5%);

    .iphone {
      height: 350px;
      width: auto;
      position: absolute;
      bottom: 0;
      left: 10%;
    }

  }

  .teachers {

    .teachers-container {

      @media #{$medium-and-down} {
        padding-left: 50px;
        width: 50%;
      }

      @media #{$small-and-down} {
        padding-left: 20px;
        width: 50%;
      }

      @media #{$extra-small-and-down} {
        padding-left: 10px;
        width: 100%;
      }

      @media #{$large-and-up} {
        padding-left: 100px
      }

      @media #{$extra-large-and-up} {
        padding-left: 200px
      }

    }

    .fredrik-container {
      height:400px;

      img {
        height: 100%;
        width:auto;
      }

      .description {
        color: white ;
        height: 100%;
        width: 100%;
        background-color: $color-gray-darkest;

        @media #{$medium-and-down} {
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
      }
    }
  }

  .methods {
    .camera {
      img {
        height: 350px;
        width: auto;
      }
    }
  }

  .pricing {

    background-color: darken($color-gray-lightest, 5%);

  }

  .footer {
    background-color: $color-gray-darkest;
    color: white;

    a {
      color: white;
      cursor: pointer;
      text-decoration: none;
      display: block;

      &:hover {
        color: $color-gray-light;
      }
    }

    .social-icon {
      border: 1px solid white;
      border-radius: 50%;
      font-size: 22px;
      height: 50px;
      width: 50px;
      cursor: pointer;

      &.fa-facebook {
        padding-left: 18px;
        padding-top: 14px;
      }

      &.fa-twitter {
        padding-left: 16px;
        padding-top: 13px;
      }

      &.fa-linkedin {
        padding-left: 16px;
        padding-top: 13px;
      }

      &:hover {
        background-color: white;
        color: $color-gray-darkest;

      }
    }
  }
}
