.video-details {

  .video-placeholder {
    width: inherit;
    max-width: 100%;
    min-width: 100%;
  }

  .video-info {
    text-align: center;

    .video-name {
      text-transform: uppercase;
      font-size: $font-sm;
      line-height: 1;
    }

    .video-desc {
      font-size: $font-xs;
    }

    > span {
      margin-right: 0;
      width: 100%;
    }
  }

  .container {
    display: inline-block;
    position: relative;
    width: 100%;
    border: 8px solid;
    border-radius: 50%;
  }
  .dummy {
    margin-top: 100%;
  }

  .element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .center {
    position: relative;
    width: 100%;
    padding-top:50%;
    margin-top: -20px;
    text-align: center;
  }

  .video-container {
    @media #{$small-and-down} {
      margin-bottom: 24px;
		}
  }

  .related-video-container {

    color: black;

    position: relative;

    @media #{$small-and-down} {
      margin-bottom: 24px !important;
		}

    .related-video-details {
      position: absolute;
      bottom: 0;
      background: rgba(black, 0.2);
      right: 0;
      left: 0;
    }
  }

  .comments-wrapper {
    border-top: 1px solid $color-gray-light;
    border-bottom: 1px solid $color-gray-light;

    .min-height {
      min-height: 70px;
    }

    .comment:not(:last-child) {
      .comment-text {
        border-bottom: 1px solid $color-gray-light;
      }
    }

  }

  .video-image-container {
    cursor: pointer;

    .video-image {
      max-width: 652px;
      max-height: 377pc;
    }

    .video-image-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 70px;
      width: 80px;
      margin-left: -46px;
      margin-top: -66px;
      font-size: 30px;
      border-radius: 10px;
      padding: 20px;
      background-color: rgba(0,0,0,0.7);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

      &:before {
        color: white;
        content: '\E800';
        font-family: "video-fontello";
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        margin-left: .2em;
      }

    }
  }

  .related-video-image-container {
    cursor: pointer;

    .related-video-image {
      max-width: 262px;
      max-height: 150px;
    }

    .related-video-image-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 70px;
      width: 80px;
      margin-left: -41px;
      margin-top: -50px;
      font-size: 30px;
      border-radius: 10px;
      padding: 20px;
      background-color: rgba(0,0,0,0.7);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

      &:before {
        color: white;
        content: '\E800';
        font-family: "video-fontello";
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        margin-left: .2em;
      }

    }
  }

}
