.form-group {
  .form-control {

  }
}

.Select {
  .Select-control {
    height: 32px;
  }

  .Select-input {
    height: 32px;
  }
}

.checkbox-ys {
  img {
    &.checked {
      width: 27px;
    }
    &.unchecked {
      width: 20px;
    }

  }
}
