.language-picker {
  width: 60px;
  margin-top: -10px;

  .language-option {

  }

  .language-image {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
  }

  .Select-control {
    background-color: $color-black-primary;
    border: none;
    min-width: 0;
  }

  .Select-arrow-zone {
    display: none;
  }

  .Select-menu-outer {
    background-color: $color-black-primary;
    border-radius: 5px !important;
  }

  .is-focused:not(.is-open) > .Select-control {
    /* border-color: #007eff; */
    box-shadow: none;
  }

}
