.modal {
  .modal-dialog {
    border-radius: 0;

    .modal-content {
      border-radius: 0;
    }
  }

  .modal-header {
    border-top: 4px solid $color-orange;
    border-bottom: none;

    h4 {
      text-transform: uppercase;
      font-size: $font-sm;
      color: $color-orange;
      font-weight: $thin;
    }
  }

  .modal-body {
    .row > div {
      height: 50px;

      .help-block {
        font-size: 8px;
        margin-top: 2px;
        margin-left: 2px;
      }
    }
  }

  .modal-footer {
    border-top: none;
    padding-top: 0;

  }

  &.modal-login {
    .remember-label {
      padding-left: 4px;
      margin-right: 14px;
    }

    button.close {
      outline: none;
    }
  }

}
