.pricing-component {

  .section-title {
    * {
      display: inline-block;
    }

    span {
      position: relative;
      max-width: 200px;
      margin-left: 5px;
      margin-right: 5px;
      top: -8px;
    }

    hr {
      width: 25%;

      @media #{$small-and-down} {
  			width: 25%;
  		}

      @media #{$extra-small-and-down} {
  			width: 20%;
  		}
    }
  }
  .offers-container {
    max-width: 1000px;
    margin: 0 auto;

    .offer-container {
      margin: 0 auto;
      width: 250px;
      height: 250px;
      color: white;

      .offer-container-inner {
        height: 200px;
        background:  $color-blue;
        border-radius: 4px;

        .price {

          .currency {
            position: relative;
            top: -39px;
            right: 5px;
            font-size: 28px;
          }
          .amount {
            font-size: 75px;
          }
        }

        .most-popular-tag {
          width: 75px;
          height: 75px;
          border-radius: 50%;
          color: white;
          background-color: $color-orange;
          position: relative;
          top: -231px;
          left: -53px;
          padding-top: 16px;
        }
      }

      .button-buy {
        width: 100%;
        height: 40px;
        border: 2px solid $color-orange;
        border-radius: 4px;
        color: $color-orange;
        cursor: pointer;

        padding-top: 9px;
        margin-top: 2px;

        &:hover {
          border: 2px solid lighten($color-orange, 10%);
          color:lighten($color-orange, 10%);
        }

        &.most-popular {
          background-color: $color-orange;
          color: white;

          &:hover {
            background-color: lighten($color-orange, 10%);
          }
        }

      }
    }
  }


}
