.top-menu {
  // height: 200px;
  // background-color: red;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  * {
    color: white !important;
  }

  .navbar {
    padding-top: 14px;
    height: 80px;
    background-color: $color-black-primary;
    border: 0;
    border-radius: 0;

    .login {
        margin-right: 10px;
    }

    .register {
      a {
        border: 1px solid;
        border-radius: 5px;
        width: 150px;
        text-align: center;
        padding: 4px;
        margin-top: 10px;
      }
    }
  }

  .navbar-brand {
    margin-top: -5px;
  }

  .icon:hover {
    color: #2C2C2C;
  }

  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }

  .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
    text-align: right;
    background-color: $color-black-primary;
    border: none;
    overflow-y: visible;

    @media #{$extra-small-and-down} {
      li {
        text-align: right;
        a {
          display: inline-block;
        }
      }

      .register {
        padding-right: 25px;
        margin-bottom: 15px;
      }
		}

    &.collapsing {
      overflow-y: hidden;
    }

  }

  .container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 1;
  }

  .navbar-header {
    padding-left: 15px;
    padding-right: 15px;

    @media #{$extra-small-and-down} {
      padding-right: 0px;
      width: 100%;
      padding-left: 30px;
      margin-left: -10px;
		}
  }

  .navbar-default .navbar-nav > .open > a{
    background-color: $color-black-primary;
  }

  .dropdown-menu {
    background-color: $color-black-primary;
    li {
      a:hover {
        background-color: lighten($color-black-primary, 20%);
      }
    }
  }

  .credits {
    a {
      padding-right: 25px;
    }
  }

  .top-book-image {
    a {
      padding: 0;
    }
    img {
      max-height: 58px;
      margin-left: 10px;
      margin-top: -2px;

      @media #{$extra-small-and-down} {
        margin-right: 15px;
      }
    }
  }
  &.landing-nav {
    @media #{$extra-small-and-down}{

      .navbar-default {
        padding-top: 0;

        .navbar-header {
          margin: 0;
          height: 80px;
          padding-top: 20px;
          padding-right: 15px;
          background-color: $color-black-primary;
        }

      }
    }

    @media #{$small-and-up} {

      .navbar {
        background-color: transparent;

        .navbar-collapse {
          background-color: transparent;
        }

        .navbar-default .navbar-nav > .open > a{
          background-color: transparent;
        }

        .Select-control {
          background-color: transparent;
        }

        .dropdown-menu {
          background-color: transparent;
          li {
            a:hover {
              background-color: white;
              * {
                color: $color-black-primary !important;
              }
            }
          }
        }
      }
    }

    .navbar-default .navbar-nav > .open > a {
      background-color: transparent;
    }
  }
}
