.video-search {
  width: 300px;
  @media #{$medium-and-down}  {
    width: 220px;
  }

  @media #{$small-and-up} {
    position: relative;
    top: -5px;
  }

  * {
    color: black !important;
    text-align: left;

    &.is-focused {
      .Select-control {
        outline: none;
        box-shadow: none;
        border: 1px solid $color-gray-light;
      }
    }
  }

  .Select-loading-zone {
    padding-right: 10px;
  }

  .Select-arrow {
    background: url('/images/icon_search.png') no-repeat center;
    border: none;
    background-size: contain;
    width: 24px;
    height: 24px;
    position: relative;
    top: 4px;
  }
}
