* {
  font-family: $font-family-primary;
}

.button {
  outline: none !important;

  &.white {
    * {
      color: white !important;
    }
    &:hover {
      * {
      color: darken(white, 20%) !important;
      }
    }
  }
}
a {
  outline: none !important;
}

input {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.disabled {
  cursor: not-allowed;
}

.clickabled {
  cursor: pointer;
}

.link {
  color: black;
  text-decoration: none;
  &:hover {
    color: $color-orange;
    text-decoration: none;
  }
}
