@import "utilities/font";
/*
	Font Weights
*/
$thin: 100;
$light: 200;
$book: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

/*
	Font Sizes
*/
$font-xxs: 12px;
$font-xs: 14px;
$font-sm: 18px;
$font-smd: 20px;
$font-md: 24px;
$font-lg: 28px;
$font-mlg: 38px;
$font-xlg: 50px;
$font-xxlg: 70px;

/*
	Font Style
*/

$font-family-primary: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

/*
	Colors
*/
/* Black */
$color-black-primary: #383839;

/*
	Media Query Breakpoints
*/
$extra2-small-screen: 320px;
$extra-small-screen-max: 479px;
$extra-small-screen: 480px;
$small-screen-max: 767px;
$small-screen: 768px;
$medium-screen-max: 991px;
$medium-screen: 992px;
$large-screen-max: 1199px;
$large-screen: 1200px;
$extra-large-screen-max: 1439px;
$extra-large-screen: 1440px;
$extra2-small-and-down: 'only screen and (max-width : #{$extra-small-screen-max})';
$extra2-small-and-up: 'only screen and (min-width : #{$extra2-small-screen})';
$extra-small-and-down: 'only screen and (max-width : #{$small-screen-max})';
$extra-small-and-up: 'only screen and (min-width : #{$extra-small-screen})';
$small-and-down: 'only screen and (max-width : #{$medium-screen-max})';
$small-and-up: 'only screen and (min-width : #{$small-screen})';
$medium-and-down: 'only screen and (max-width : #{$large-screen-max})';
$medium-and-up: 'only screen and (min-width : #{$medium-screen})';
$large-and-down: 'only screen and (max-width : #{$extra-large-screen-max})';
$large-and-up: 'only screen and (min-width : #{$large-screen})';
$extra-large-and-up: 'only screen and (min-width : #{$extra-large-screen})';

$color-orange: #F8A131;
$color-red: #EF5B30;
$color-green: #57CA6A;


$color-gray-light: #DCE0E0;
$color-gray-lightest: #F8F8F9;
$color-gray-darkest: #414142;
$color-blue: #5488C0;
